
<style>
.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.container
{
  border: 2px solid black;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.cardr {
  width: 100%;
  height: 250px;
border: 2px solid black;
  background: #fff;
  position: relative;
}
.boxr {
  margin: 15px;
  padding: 15px;
  width: 400px;
  height: 450px;
  display: flex;
  flex:wrap;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  background-color:#99aab5;
}
.other {
  margin-top: 8px;
  /* height: 190px; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}
</style>
<%- include('partials/header') %>
<div class="container">
<h1>Search</h1>
<%= typeof msg != 'undefined' ? msg : '' %>
<form action="/search" method="POST" enctype="form-data">
    <div class="form-group">
        <label>Search By City:</label>
        <input type="text" class="form-control" name="city" placeholder="City Name" autocomplete="off">
    </div>
    <button type="submit" class="btn">Submit</button>
        </form>
        <br>
        <div class="list">
            <% items.forEach(function(item) { %>

                <div class="boxr">
                  <div class="cardr">
                      <div class="img">

                    <img src="data:image/<%=item.imgs[0].contentType%>;base64,
                         <%=item.imgs[0].data.toString('base64')%>">
                       </div>
                   </div>
                <div class="other">

                    <h5>City: <%= item.city %></h5>
                    <h5>Description: <%= item.description %></h5>
                    <h5>Owner: <%= item.username %></h5>
                </div>
                </div>


            <% }) %>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
